*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
  margin: auto;
  width: 90%;
  height: 600px;
  border: 2px solid;
  background: purple;
  
}
.company{
    background-image: url(../../assets/bg2.jpg);
    height: 440px;
    width: 300px;
    padding: 20px;
    margin-left: 300px;
    margin-top: 50px;
    /* border: 2px solid aqua; */
}
 .company-label{
    /* margin-left: 120px; */
}
.company-label2{
    /* margin-left: -167px; */
}
.company-label3{
    /* margin-left: -207px; */
}.company-label4{
    /* margin-left: -148px; */
} 

.textinputs{
    margin-top: 70px;
}

input::placeholder{
    padding: 20px;
}
input{
    width: 230px;
    height: 25px;
}
.dateinput{
    height: 25px;
    width: 230px;
}
.company-button{
    width: 60px;
    height: 25px;
    color: white;
    background-color: rgb(45, 24, 181);
    border-radius: 3px;
    margin-left: 130px;
    
}  
/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.add-container{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-company{
    background-image: url(../../assets/Images/login1page.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 350px;
    position: absolute;
    padding: 25px 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    box-shadow:  5px 5px 5px 5px;
}
.add-com-h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.createCom-form{
    margin-top: 10px;
    margin-bottom: 15px;
}
.add-com-input{
    padding: 8px 6px;
    width: 300px;
    min-height: 30px;
    border: 1px solid black;
}
.add-btn{
    width: 100px;
    height: 30px;
    padding: 5px 5px;
    background: linear-gradient(100deg, rgb(201, 64, 246),rgb(66, 13, 146));
    color: white;
    border: none;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 17px;
   
}
.danger-message{
    color: red;
} */